LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "rst" SITE "G16"; # FPGA receives
IOBUF  PORT "rst" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uart0_txd" SITE "M1"; # FPGA receives from ftdi
LOCATE COMP "uart0_rxd" SITE "L4"; # FPGA transmits to ftdi

IOBUF  PORT "uart0_txd" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF  PORT "uart0_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

#IOBUF PORT "debug_txd" IO_TYPE=LVCMOS33;
#IOBUF PORT "debug_rxd" IO_TYPE=LVCMOS33;

LOCATE COMP "led_a" SITE "C2";
LOCATE COMP "led_b" SITE "B2";
LOCATE COMP "led_c" SITE "C1";

IOBUF  PORT "led_a" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led_b" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led_c" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
